{% extends "!layout.html" %}
{% block extrahead %}
    <meta property=’og:title’ content='//Geo21//'/>
    <meta property=’og:image’ content='https://deucemckenzie.github.io/site/_images/thumbnail.jpg'/>
    <meta property=’og:description’ content='My 21st Century GeoCities Page'/>
    <meta property=’og:url’ content='https://deucemckenzie.github.io/'/>
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
    <meta property="og:type" content='website'/>
    {{ super() }}
{% endblock %}